{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        weavejester/dependency {:mvn/version "0.2.1"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {examples/todo-app {:local/root "examples/todo-app"}

                     org.clojure/java.classpath  {:mvn/version "1.0.0"}
                     org.clojure/tools.namespace {:mvn/version "1.3.0"}}}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha           {:mvn/version "1.0.861"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}

  :test/run {:main-opts ["-m" "kaocha.runner"]}

  :test/watch {:main-opts ["-m" "kaocha.runner" "--watch"]}

  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
          :exec-fn codox.main/generate-docs
          :exec-args {:source-paths  ["src"]
                      :metadata {:doc/format :markdown}}}

  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.6.7" :git/sha "22c2d09"}}
          :ns-default build}}}
